$white: #ffffff;
$blue-light: #0085ff;
$blue-dark: #003465;
$input-bg: #003363;
$card-bg: rgba(88, 130, 193, 0.28);
$card-border: #5882c1;
$button-hover: #064784;
$social-border: #bcbec0;
$social-bg-hover: #ffffffee;

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
	background: radial-gradient(circle, $blue-light, $blue-dark);
	height: 100vh;
	display: flex;
	color: $white;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@for $i from 1 through 10 {
	.img#{$i} {
		position: absolute;
		z-index: -1;
	}
}

.img1 {
	top: 534px;
	right: 1242px;
	width: 400px;
	height: 400px;
}
.img2 {
	top: 681px;
	left: 1250px;
}
.img3 {
	top: 40px;
	left: 789px;
	width: 400px;
	height: 400px;
}
.img4 {
	top: 565px;
	left: 952px;
}
.img5 {
	top: 611px;
	left: 998px;
}
.img6 {
	top: 465px;
	left: 365px;
}
.img7 {
	top: 573px;
	left: 344px;
}
.img8 {
	top: 210px;
	left: 368px;
	width: 173px;
	height: 94px;
}
.img9 {
	top: 326px;
	left: 349px;
}
.img10 {
	bottom: 697px;
	left: 411px;
}

.login-card {
	background: $card-bg;
	backdrop-filter: blur(4px);
	padding: 2.5rem 4.5rem;
	border-radius: 20px;
	width: 320px;
	color: $white;
	text-align: center;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	border: 1px solid $card-border;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;

	h2 {
		text-align: left;
		font-size: 24px;
	}

	label {
		text-align: left;
		font-size: 13px;
	}

	input {
		padding: 0.8rem;
		border: none;
		border-radius: 8px;
		background: $input-bg;
		color: $white;

		&::placeholder {
			color: $white;
		}
	}
}

.forgot {
	font-size: 0.8rem;
	text-align: left;
	display: block;
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.signin-btn {
	background: $input-bg;
	padding: 1rem;
	border: none;
	color: $white;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		background: $button-hover;
	}
}

.separator {
	font-size: 0.9rem;
	color: $white;
	margin-top: 1rem;
}

.social-login {
	display: flex;
	justify-content: center;
	gap: 1rem;

	.social {
		width: 72px;
		height: 35px;
		border-radius: 8px;
		border: none;
		font-size: 1.2rem;
		cursor: pointer;
		background: $white;
		color: $white;
		transition: 0.3s;
		border: 1px solid $social-border;
		position: relative;

		.google-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			background: $social-bg-hover;
		}
	}
}

.register {
	font-size: 0.8rem;
	margin-top: 1rem;
	color: $white;

	a {
		color: $white;
		font-weight: bold;
		text-decoration: underline;
	}
}
